<tr>
  <td>
    <a href="#"
       hx-get="{% url 'documents:edit' document.id %}"
       hx-target="#htmx-modal-container"
       hx-trigger="click"
       data-bs-toggle="modal"
       data-bs-target="#htmx-modal-container">{{ document.name }}</a>
  </td>
  <td>{{ document.description }}</td>
  <td>{{ document.date|date:'Y-m-d' }}</td>
  <td>{{ document.uploaded_by.full_name }}</td>
  <td>
    <a href="{% url 'documents:download' document.id %}" class="button-link">
      <i class="bi bi-download"></i>
    </a>
  </td>
</tr>
