{% extends "base.html" %}
{% block content %}
  <div id="content" class="container content">
    {% load humanize %}
    <div id="contacts">
      <div class="row flex-column-reverse flex-md-row">
        <div id="folders" class="col-md-3">{% include "folders/list.html" %}</div>
        <div class="contacts col-md-3">
          <div class="section">
            <div class="toolbar">
              <div class="toolbar-left">
                <h1>Contacts</h1>
              </div>
              <div class="toolbar-right">
                <a href="#"
                   hx-get="{% url 'contacts:add' %}"
                   hx-target="#htmx-modal-container"
                   hx-trigger="click"
                   data-bs-toggle="modal"
                   data-bs-target="#htmx-modal-container">
                  <i class="bi bi-plus-lg"></i>
                </a>
              </div>
            </div>
            {% if contacts %}
              {% include "contacts/list.html" %}
            {% endif %}
          </div>
        </div>
        <div class="contact col-md-6">{% include "contacts/contact.html" with contact_subapp="trust" %}</div>
      </div>
    </div>
  </div>
{% endblock content %}
