<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ outline.get_category_display }}</button>
  <ul class="dropdown-menu">
    {% for key, label in category_choices %}
      <li>
        <a class="dropdown-item {% if outline.category == key %}active{% endif %}"
           href="#"
           hx-post="{% url 'outlines:category' outline.id key %}"
           hx-target="#outlines">{{ label }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
