<div class="toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'outlines:add' %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="icon-plus"></i>
      </button>
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'outlines:filter' %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click"
              data-bs-toggle="modal"
              data-bs-target="#htmx-modal-container">
        <i class="icon-list-filter"></i>Filter
      </button>
      <button type="button"
              id="outlines-category-filter"
              class="select-btn filter-dropdown-button {% if selected_category %}toggle-active{% endif %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        {{ selected_category|default:"All Categories" }}
        <small>
          <i class="icon-chevron-down"></i>
        </small>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item {% if not selected_category_key %}active{% endif %}"
             href="#"
             hx-get="{% url 'outlines:filter-category-clear' %}"
             hx-target="#outlines">All Categories</a>
        </li>
        {% for key, label in category_choices %}
          <li>
            <a class="dropdown-item {% if selected_category_key == key %}active{% endif %}"
               href="#"
               hx-get="{% url 'outlines:filter-category' key %}"
               hx-target="#outlines">{{ label }}</a>
          </li>
        {% endfor %}
      </ul>
      <button type="button"
              id="outlines-importance-filter"
              class="select-btn filter-dropdown-button priority-dropdown {% if importance_value %}toggle-active{% endif %}"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        <span>
          <i class="icon-flag with-text"></i>
          {% if importance_value %}
            {% if importance_value == 1 %}
              1 only
            {% else %}
              {{ importance_value }} and above
            {% endif %}
          {% else %}
            Importance
          {% endif %}
        </span>
        <small>
          <i class="icon-chevron-down"></i>
        </small>
      </button>
      <ul class="dropdown-menu">
        {% for importance in importances %}
          {% if importance != 10 %}
            <li>
              <a class="dropdown-item {% if importance == importance_value %}active{% endif %}"
                 href="#"
                 hx-get="{% url 'outlines:filter-importance' importance %}"
                 hx-target="#outlines">
                <i class="icon-flag"></i>
                {% if importance == 1 %}
                  1 only
                {% else %}
                  {{ importance }} and above
                {% endif %}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          <a class="dropdown-item {% if not importance_value %}active{% endif %}"
             href="#"
             hx-get="{% url 'outlines:filter-importance' 0 %}"
             hx-target="#outlines">
            <i class="icon-flag"></i> All Levels
          </a>
        </li>
      </ul>
      <input type="text"
             id="outlines-keyword-input"
             name="keyword"
             placeholder="Keyword Search"
             value="{{ keyword }}"
             class="filter-input keyword-input"
             hx-get="{% url 'outlines:filter-keyword' %}"
             hx-target="#outlines-table"
             hx-trigger="keyup changed delay:500ms"
             hx-include="this">
    </div>
  </div>
</div>
<div id="outlines-table">{% include "outlines/table.html" %}</div>
