<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Add Invoice</h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form id="invoice-form"
            hx-post="{% url 'invoicing:invoices-add' %}"
            hx-target="#htmx-modal-container"
            hx-indicator="#invoice-submit"
            hx-disabled-elt="#invoice-submit"
            role="form"
            class="form-compact col2">
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer modal-footer-3col">
      <div class="modal-footer-left">
        <button type="button"
                class="btn btn-secondary"
                @click="$dispatch('close-modal')">Cancel</button>
      </div>
      <div class="modal-footer-center"></div>
      <div class="modal-footer-right">
        <button type="submit"
                form="invoice-form"
                id="invoice-submit"
                class="btn btn-success btn-busy">
          <span class="btn-busy-idle">Submit</span>
          <span class="btn-busy-loading"><span class="btn-spinner"></span> Generating…</span>
        </button>
      </div>
    </div>
  </div>
</div>
