{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/apps/activity.css' %}" />
{% endblock head %}
{% block content %}
  <div class="subnav-section">
    <div class="section-title">
      <div class="section-title-left">
        <h1>Invoice {{ invoice.id }} - {{ invoice.matter.name }}</h1>
      </div>
      {% if invoice.status == 'DRAFT' or invoice.status == 'APPROVED' %}
        <div class="section-title-right">
          <button type="button"
                  class="btn-icon"
                  hx-get="{% url 'billing:invoices-edit' invoice.id %}"
                  hx-target="#htmx-modal-container"
                  hx-trigger="click"
                  data-bs-toggle="modal"
                  data-bs-target="#htmx-modal-container">
            <i class="bi bi-pencil"></i>
          </button>
        </div>
      {% endif %}
    </div>
    <p>{{ invoice.comment }}</p>
  </div>
  <ul class="subnav">
    <li {% if subapp == "time" %}class="active"{% endif %}>
      <a href="{% url 'billing:invoice-time-entries' invoice.id %}">Time</a>
    </li>
    <li {% if subapp == "expenses" %}class="active"{% endif %}>
      <a href="{% url 'billing:invoice-expense-entries' invoice.id %}">Expenses</a>
    </li>
    <li {% if subapp == "parameters" %}class="active"{% endif %}>
      <a href="{% url 'billing:invoice-parameters' invoice.id %}">Parameters</a>
    </li>
    <li {% if subapp == "preview" %}class="active"{% endif %}>
      <a href="{% url 'billing:invoices-detail' invoice.id %}">Preview PDF</a>
    </li>
  </ul>
  <div class="section">
    {% block subcontent %}
    {% endblock subcontent %}
  </div>
{% endblock content %}
