<div class="dropdown" id="intake-practice-area-dropdown-{{ intake.id }}">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ intake.practice_area }}</button>
  <ul hx-target="#intake-practice-area-dropdown-{{ intake.id }}"
      hx-swap="outerHTML"
      class="dropdown-menu">
    {% for pa in practice_areas %}
      <li>
        <a href="#"
           hx-post="{% url 'intakes:edit-practice-area' pk=intake.id practice_area_id=pa.id %}"
           class="dropdown-item">{{ pa.name }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
