
.btn {
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 4px 10px;
}

.btn-sm {
  font-size: 0.8rem;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background: var(--button-form);
  border: none;
  box-shadow: none;
  color: var(--stone-300);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background: var(--stone-300);
  border: none;
  box-shadow: none;
  color: var(--stone-700);
}

.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background: transparent;
  border: solid 1px var(--stone-350);
  box-shadow: none;
  color: var(--stone-600);
}

.icon-green {
  color: var(--icon-green) !important;
}

.icon-yellow {
  color: var(--icon-yellow) !important;
}

.icon-blue {
  color: var(--icon-blue) !important;
}

.icon-purple {
  color: var(--icon-purple) !important;
}

.btn-icon {
  border: none;
  padding: 0;
}

.btn-slim {
  font-size: 0.97rem;
  padding: 0.1rem 0.4rem;
}

.button-icon {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.menu-icon {
  color: var(--stone-350);
  padding: 0;
}

.button-link {
  background: none;
  border: none;
  color: var(--link);
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.button-link:hover {
  color: var(--link-hover);
}

.dropdown-item:active {
  background-color: var(--stone-350);
}

.copy-btn {
  padding: 2px 6px;
  background: var(--stone-150);
  border-color: var(--stone-300);

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    color: var(--stone-900);
    background: var(--stone-200);
  }
}

.copy-btn-right {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.copy-btn-left {
  margin-right: 0.25rem;
}
