
.vertical-center {
  align-items: center;
  display: flex;
  min-height: 80%;
}

@supports (height: 80vh) {
  .vertical-center {
  min-height: 80vh; /* Override with 80vh if supported */
  }
}

.error-card {
  background: #f4f4f4;
  border-radius: var(--radius-sm);
  font-size: 1.2em;
  margin: 0 auto 1.25rem;
  padding: 1.25rem;
  width: 43.75rem;
}

.error-title {
  font-size: 1.4em;
  margin-bottom: 1.25rem;
  text-align: center;
}

.error-message {
  font-size: 1.3em;
  margin-bottom: 1rem;
  text-align: center;
}

.contact-message {
  margin-bottom: 1rem;
  text-align: center;
}
