
li {
  list-style-type: none;
}

.list-group {
  background: var(--background-panel);
  border: none;
  border-radius: 0;
}

.list-group-item {
  background: none;
  border-top: 1px solid var(--border-medium);
  border-bottom: 1px solid var(--border-medium);
  border-left: none;
  border-right: none;
  color: inherit;
  padding: 0.5rem 0 0.5rem 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
