<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Delete Folder</h1>
      <div>
        <a href="#" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
        </a>
      </div>
    </div>
    <div class="modal-body">
      <p>Delete folder "{{ folder.name }}"?</p>
      {% if contact_count > 0 %}
        <p>This folder contains {{ contact_count }} contact{{ contact_count|pluralize }}.</p>
        <div class="flex-center-left">
          <div>
            <button hx-delete="{% url 'folders:delete' folder.id %}?keep_contacts=true"
                    hx-target="#folders"
                    class="btn btn-primary btn-delete-contacts">Keep Contacts</button>
          </div>
          <div>
            <button hx-delete="{% url 'folders:delete' folder.id %}?delete_contacts=true"
                    hx-target="#folders"
                    class="btn btn-secondary">Delete Contacts</button>
          </div>
        </div>
      {% else %}
        <div>
          <button hx-delete="{% url 'folders:delete' folder.id %}"
                  hx-target="#folders"
                  class="submit">Delete Folder</button>
        </div>
      {% endif %}
    </div>
  </div>
</div>
