<div class="dropdown">
  <button class="button-link"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ task.date_due|date:'Y-m-d' }}</button>
  <ul class="dropdown-menu">
    {% for i in '12345'|make_list %}
      <li>
        <a class="dropdown-item"
           href="#"
           hx-get="{% url 'agenda:tasks-task-date' task_id=task.id amount=forloop.counter %}"
           hx-target="#tasks">{{ forloop.counter }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
