<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">{{ task.status }}</button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'matters:tasks-set-status' matter.id task.id 'pending' %}"
         hx-target="#matterTasks">Pending</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'matters:tasks-set-status' matter.id task.id 'in-progress' %}"
         hx-target="#matterTasks">In progress</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'matters:tasks-set-status' matter.id task.id 'on-hold' %}"
         hx-target="#matterTasks">On hold</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'matters:tasks-set-status' matter.id task.id 'complete' %}"
         hx-target="#matterTasks">Complete</a>
    </li>
  </ul>
</div>
