<div class="modal-dialog modal-md" id="codes-modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Abbreviation Codes</h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body"
         id="codes-table"
         hx-trigger="codesChanged from:body"
         hx-get="{% url 'activity:codes-list' %}"
         hx-target="#codes-modal-dialog"
         hx-swap="outerHTML">
      <div class="toolbar">
        <div class="toolbar-left">
          <div class="filter-tools">
            {% if request.user.role == "ADMIN" %}
              <button type="button"
                      class="btn-icon"
                      hx-get="{% url 'activity:codes-add' %}"
                      hx-target="#codes-modal-dialog"
                      hx-swap="outerHTML">
                <i class="icon-plus"></i>
              </button>
            {% endif %}
            <input type="search"
                   name="q"
                   class="toolbar-search"
                   placeholder="Filter..."
                   value="{{ search_query }}"
                   hx-get="{% url 'activity:codes-list' %}?partial=1"
                   hx-trigger="keyup changed delay:300ms, search"
                   hx-target="#codes-results"
                   hx-swap="outerHTML"
                   autocomplete="off"
                   autofocus>
          </div>
        </div>
      </div>
      {% include "activity/time/codes/results.html" %}
    </div>
  </div>
</div>
