

.ledger-totals {
  margin-bottom: 2rem;
  width: 100%;
}

.ledger .date {
  width: 200px;
}

.ledger .type {
  width: 200px;
}

.ledger .numeric {
  width: 200px;
}

.totals-table .total {
  width: 200px;
}
