<div class="toolbar witnesses-toolbar">
  <div class="toolbar-left">
    <div class="filter-tools">
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'case:witnesses-add' matter.id %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click">
        <i class="icon-plus"></i>
      </button>
      <button type="button"
              class="btn-icon"
              hx-get="{% url 'case:witnesses-filter' matter.id %}"
              hx-target="#htmx-modal-container"
              hx-trigger="click">
        <i class="icon-list-filter with-text"></i>Filter
      </button>
      <div class="dropdown" x-data="dropdown()">
        <button type="button"
                id="witnesses-importance-filter"
                class="select-btn filter-dropdown-button importance-dropdown {% if importance_value %}toggle-active{% endif %}"
                x-ref="button"
                @click="toggle()"
                :aria-expanded="open">
        <span><i class="icon-flag with-text"></i>
        {% if importance_value == 7 %}
          Highest
        {% elif importance_value == 6 %}
          Higher
        {% elif importance_value == 5 %}
          High
        {% elif importance_value == 4 %}
          Normal
        {% elif importance_value == 3 %}
          Low
        {% elif importance_value == 2 %}
          Lower
        {% elif importance_value == 1 %}
          Lowest
        {% else %}
          Importance
        {% endif %}
      </span>
      <small>
        <i class="icon-chevron-down"></i>
      </small>
    </button>
    <ul class="dropdown-menu" x-ref="menu" x-show="open">
      <li>
        <a class="dropdown-item {% if importance_value == 7 %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:witnesses-filter-importance' matter.id 7 %}"
           hx-target="#witnesses"><i class="icon-chevrons-up importance-7"></i> Highest</a>
      </li>
      <li>
        <a class="dropdown-item {% if importance_value == 6 %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:witnesses-filter-importance' matter.id 6 %}"
           hx-target="#witnesses"><i class="icon-chevron-up importance-6"></i> Higher</a>
      </li>
      <li>
        <a class="dropdown-item {% if importance_value == 5 %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:witnesses-filter-importance' matter.id 5 %}"
           hx-target="#witnesses"><i class="icon-chevron-up importance-5"></i> High</a>
      </li>
      <li>
        <a class="dropdown-item {% if importance_value == 4 %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:witnesses-filter-importance' matter.id 4 %}"
           hx-target="#witnesses"><i class="icon-equal"></i> Normal</a>
      </li>
      <li>
        <a class="dropdown-item {% if importance_value == 3 %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:witnesses-filter-importance' matter.id 3 %}"
           hx-target="#witnesses"><i class="icon-chevron-down importance-3"></i> Low</a>
      </li>
      <li>
        <a class="dropdown-item {% if importance_value == 2 %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:witnesses-filter-importance' matter.id 2 %}"
           hx-target="#witnesses"><i class="icon-chevron-down importance-2"></i> Lower</a>
      </li>
      <li>
        <a class="dropdown-item {% if not importance_value %}active{% endif %}"
           href="#"
           hx-get="{% url 'case:witnesses-filter-importance' matter.id 0 %}"
           hx-target="#witnesses"><i class="icon-flag"></i> All Levels</a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
<div id="witnesses-table">{% include "case/witnesses/table.html" %}</div>
