<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">
    {% if case_law.importance == 5 %}
      <i class="icon-chevrons-up"></i>
    {% elif case_law.importance == 4 %}
      <i class="icon-chevron-up"></i>
    {% elif case_law.importance == 3 %}
      <i class="icon-equal"></i>
    {% elif case_law.importance == 2 %}
      <i class="icon-chevron-down"></i>
    {% else %}
      <i class="icon-chevrons-down"></i>
    {% endif %}
  </button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:caselaw-importance' case_law.id 5 %}"
         hx-target="#caselaws"><i class="icon-chevrons-up importance-5"></i> Highest</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:caselaw-importance' case_law.id 4 %}"
         hx-target="#caselaws"><i class="icon-chevron-up importance-4"></i> Higher</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:caselaw-importance' case_law.id 3 %}"
         hx-target="#caselaws"><i class="icon-equal"></i> Normal</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:caselaw-importance' case_law.id 2 %}"
         hx-target="#caselaws"><i class="icon-chevron-down importance-2"></i> Lower</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'case:caselaw-importance' case_law.id 1 %}"
         hx-target="#caselaws"><i class="icon-chevrons-down importance-1"></i> Lowest</a>
    </li>
  </ul>
</div>
