{% block subcontent %}
  <div class="toolbar">
    <div class="toolbar-left">
      <h2>Pending Events</h2>
      <div class="filter-tools">
        <button hx-get="/events/add/{{ matter.id }}/matters"
                hx-target="#htmx-modal-container"
                data-bs-toggle="modal"
                data-bs-target="#htmx-modal-container">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="table-container">
    <table class="table events-list">
      <tr>
        <th class="date">Date</th>
        <th class="party">Party</th>
        <th class="description">Description</th>
        <th class="duration">Duration</th>
        <th class="location">Location</th>
        <th class="status">Status</th>
      </tr>
      {% for event in pending_events %}
        <tr>
          <td class="date">
            {{ event.date|date:"Y-m-d" }}
            {% if event.start_time %}{{ event.start_time|time:"g:i A" }}{% endif %}
          </td>
          <td class="party">{{ event.party }}</td>
          <td class="description {% if event.date < third_day and event.status == 'Pending' %}urgent{% endif %}">
            <a href="#"
               hx-get="/events/{{ event.id }}/edit/matters"
               hx-target="#htmx-modal-container"
               hx-trigger="click"
               data-bs-toggle="modal"
               data-bs-target="#htmx-modal-container">{{ event.description }}</a>
          </td>
          <td class="duration">
            {% if event.duration %}
              {{ event.duration }} hr
              {% if event.duration != 1 %}s{% endif %}
            {% endif %}
          </td>
          <td class="location">{{ event.location|default:"" }}</td>
          <td class="status">{{ event.status }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="empty-message">No pending events found for this matter.</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="toolbar">
    <div class="toolbar-left">
      <h2>Past Events</h2>
    </div>
  </div>
  <div class="table-container">
    <table class="table events-list">
      <tr>
        <th class="date">Date</th>
        <th class="party">Party</th>
        <th class="description">Description</th>
        <th class="duration">Duration</th>
        <th class="location">Location</th>
        <th class="status">Status</th>
      </tr>
      {% for event in past_events %}
        <tr>
          <td class="date">
            {{ event.date|date:"Y-m-d" }}
            {% if event.start_time %}{{ event.start_time|time:"g:i A" }}{% endif %}
          </td>
          <td class="party">{{ event.party }}</td>
          <td class="description {% if event.date < third_day and event.status == 'Pending' %}urgent{% endif %}">
            <a href="#"
               hx-target="#htmx-modal-container"
               hx-trigger="click"
               data-bs-toggle="modal"
               data-bs-target="#htmx-modal-container"
               hx-get="{% url 'agenda:events-edit-origin' id=event.id origin='matters' %}">{{ event.description }}</a>
          </td>
          <td class="duration">
            {% if event.duration %}
              {{ event.duration }} hr
              {% if event.duration != 1 %}s{% endif %}
            {% endif %}
          </td>
          <td class="location">{{ event.location|default:"" }}</td>
          <td class="status">{{ event.status }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="6" class="empty-message">No past events found for this matter.</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock subcontent %}
