<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Add Expense Entry</h1>
      <div>
        <button type="button" @click="$dispatch('close-modal')">
          <i class="icon-x"></i>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form id="expense-form"
            action="{% url 'activity:expenses-add' id=matter_id request_app=request_app|default:'matters' %}"
            class="form-compact"
            method="post"
            role="form"
            {% if request_app == 'case' or request_app == 'matters' %}hx-post="{% url 'activity:expenses-add' id=matter_id request_app=request_app %}" hx-target="#htmx-modal-container"{% endif %}>
        {% csrf_token %}
        {{ form }}
      </form>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-secondary"
              @click="$dispatch('close-modal')">Cancel</button>
      <button type="submit" form="expense-form" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
