
/* ------------------------------------------------------------------------- */
/* search form */
/* ------------------------------------------------------------------------- */

.modal-dialog {
  width: 62.5rem !important;
}

.search-text {
  background: var(--background-lighter);
  border: 1px solid var(--border-dark);
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  margin: 0;
  padding: 0.5rem;
  width: 70%;
}

.search-results-placeholder {
  margin-top: 0.5rem;
}

.search-form .input-group {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search .input-group-text {
  background: var(--background-muted);
  border: 1px solid var(--border-dark);
}

.search-icon {
  margin: -0.25rem 0.75rem 0 0.75rem;
}

/* ------------------------------------------------------------------------- */
/* search results */
/* ------------------------------------------------------------------------- */

.search-results-title {
	font-size: 1.2em;
	padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.search-results .matter-name {
  width: 15.625rem;
}

.search-results .matter-status {
  width: 6.25rem;
}

.search-results .proceeding-case-number {
  width: 9.375rem;
}

.search-results .proceeding-status {
  width: 9.375rem;
}

.search-results .contact-folder {
  width: 9.375rem;
}

.search-results .contact-phone1,
.search-results .intake-phone {
  width: 9.375rem;
}

.search-results .contact-email,
.search-results .intake-email {
  width: 18.75rem;
}
