<div class="dropdown" x-data="dropdown()">
  <button class="button-link"
          type="button"
          x-ref="button"
          @click="toggle()"
          :aria-expanded="open">
    {% if task.importance == 7 %}
      <i class="icon-chevrons-up"></i>
    {% elif task.importance == 6 %}
      <i class="icon-chevron-up"></i>
    {% elif task.importance == 5 %}
      <i class="icon-chevron-up"></i>
    {% elif task.importance == 4 %}
      <i class="icon-equal"></i>
    {% elif task.importance == 3 %}
      <i class="icon-chevron-down"></i>
    {% elif task.importance == 2 %}
      <i class="icon-chevron-down"></i>
    {% else %}
      <i class="icon-chevrons-down"></i>
    {% endif %}
  </button>
  <ul class="dropdown-menu" x-ref="menu" x-show="open">
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-importance' task_id=task.id importance=7 %}"
         hx-target="#tasks"><i class="icon-chevrons-up importance-7"></i> Highest</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-importance' task_id=task.id importance=6 %}"
         hx-target="#tasks"><i class="icon-chevron-up importance-6"></i> Higher</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-importance' task_id=task.id importance=5 %}"
         hx-target="#tasks"><i class="icon-chevron-up importance-5"></i> High</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-importance' task_id=task.id importance=4 %}"
         hx-target="#tasks"><i class="icon-equal"></i> Normal</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-importance' task_id=task.id importance=3 %}"
         hx-target="#tasks"><i class="icon-chevron-down importance-3"></i> Low</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-importance' task_id=task.id importance=2 %}"
         hx-target="#tasks"><i class="icon-chevron-down importance-2"></i> Lower</a>
    </li>
    <li>
      <a class="dropdown-item"
         href="#"
         hx-get="{% url 'tasks:task-importance' task_id=task.id importance=1 %}"
         hx-target="#tasks"><i class="icon-chevrons-down importance-1"></i> Lowest</a>
    </li>
  </ul>
</div>
