{% block subcontent %}
  <div class="table-container">
    <table class="table activity">
      <tr>
        <th class="date">
          Date
          <button class="btn-sort {% if current_order == 'date' %}active{% endif %}"
                  hx-post="{% url 'invoicing:invoice-expense-order-by' invoice.id 'date' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="user">User</th>
        <th class="matter">Matter</th>
        <th class="actions">
          Description
          <button class="btn-sort {% if current_order == 'description' %}active{% endif %}"
                  hx-post="{% url 'invoicing:invoice-expense-order-by' invoice.id 'description' %}">
            <i class="icon-chevrons-up-down"></i>
          </button>
        </th>
        <th class="numeric amount">Amount</th>
      </tr>
      <tr id="expense-table"></tr>
      {% for expense in objects %}
        <tr id="expense-{{ expense.id }}">{% include "activity/expenses/table-row.html" %}</tr>
      {% empty %}
        <tr>
          <td colspan="5" class="empty-message">No expenses found for this invoice.</td>
        </tr>
      {% endfor %}
    </table>
    <div class="flex-start-space">
      <div>{% include "pagination.html" %}</div>
      {% include "activity/expenses/summary.html" %}
    </div>
  </div>
{% endblock subcontent %}
